*{
    margin: 0px;
    padding: 0px;
  }
  
  body{
    font-family: "Times New Roman", Times, serif;
    text-align:center;
    color:#D8C3AB;
    background-color:#E6F4F1;
  }
  
  header{
    font-family: "Times New Roman", Times, serif;;
    padding: 40px;
    font-size:30px;
    letter-spacing:2px;
    color:#393733;
    background-color: #B7B4AE;
  }
  
  main{
    margin-left: 5%;
    margin-right: 5%;
  }
  
  ul {
    list-style-type: none;
    overflow: hidden;
    padding: 6px;
    background-color:#9CADBC;
  }
  
  li{
    display: inline;
  }
  
  li a{
    text-decoration: none;
    font-size: 20px;
    padding: 6px 10px;
    color:#B7B4AE;
  }
  
  li a:hover{
    background-color: #797673;
  }
  
  h1{
    color: #393733;
  }
  
  p{
    font-size:20px;
    padding: 10px 0px 50px;
    color:#316860;
  }
  
  .portfolioImg{
    border-radius:5px;
    margin: 10px;
    border: 3px dotted #393733;
    max-width: 30%;
  }
  
  #homeImg {
    border-radius:5px;
    margin: 10px;
    border: 3px dotted #40C08C;
  }
  
  #homeIntro{
    font-family: "Times New Roman", Times, serif;;
    font-size:25px;
  }