*{
    margin: 0px;
    padding: 0px;
  }
  
  body{
    font-family: "Times New Roman", Times, serif;
    color:#536f16;
    background-color:#d4d6cf;
  }

  header {
    padding: 0;  /* Remove extra padding */
    width: 100%;
    height: 200px; /* Adjust height as needed */
    overflow: hidden; /* Ensures the image doesn't overflow */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #titleImg {
    width: 100%;  /* Make the image fill the width */
    height: 100%; /* Make the image fill the height */
    object-fit: cover; /* Crop and scale the image to fit */
    display: block;
  }
  
  main{
    margin-left: 5%;
    margin-right: 5%;
  }
  
  ul {
    list-style-type: none;
    overflow: hidden;
    padding: 6px;
    background-color:#536f16;
    display: flex;       /* Use flexbox */
    justify-content: center;  /* Center navigation items */
    align-items: center;  /* Align items vertically */

  }
  
  li{
    margin: 0 15px;
    display: inline;
  }
  
  li a{
    text-decoration: none;
    font-size: 20px;
    padding: 6px 10px;
    color:#d4d6cf;
  }
  
  li a:hover{
    background-color: #013a20;
  }
  
  h1{
    font-size:33px;
    color: #013a20;
  }

  h2{
    color: #013a20;
  }
  
  p{
    font-size:20px;
    padding:5px 0px;
    color:#3f4122;
  }

  .nianticImg {
    height:80%;
    width:80%;
    float: left;
  }

  .nianticText {
    float: right;
  }
  
  #homeIntro{
    font-family: "Times New Roman", Times, serif;;
    font-size:25px;
  }

  #map{
    height: 400px;
    width: 80%;
    margin: auto;
    border: 2px solid #ccc;
  }